{% extends 'base.html' %}
{% block contents%}
<div class="border border-light mt-5 w-50 p-5 mx-auto">
<h1 class="text-center ">Addition</h1>
    <form action="" method="post">
        {% csrf_token%}
    <div class="mb-3">
  <label class="form-label" >Number 1</label>
  <input type="number" class="form-control w-25" placeholder="Enter number 1" name="num1" value="{{n1}}">
</div>
        <div class="mb-3">
  <label class="form-label" >Number 2</label>
  <input type="number" class="form-control w-25" placeholder="Enter number 2" name="num2" value="{{n2}}">
</div>
        <div class="mb-3">
            <button class="btn btn-outline-light">Add</button>
</div>
        {% if result%}
 <div>
        <label class="form-label" >Result:</label>
        <input class="form-control w-25" type="text" value="{{result}}" aria-label="Disabled input example" disabled readonly>
            </div>
{%endif%}
        </form>
</div>

{%endblock%}
