{%extends 'base.html'%}
{% block contents%}
<div class="border border-light mt-5 w-50 p-5 mx-auto">
<h1 class="text-center ">BMI</h1>
    <form method="post">
        {% csrf_token%}
    <div class="mb-3">
  <label class="form-label" >Height</label>
  <input type="text" class="form-control w-25" placeholder="In meters" name="height" value="{{h}}">
</div>
        <div class="mb-3">
  <label class="form-label" >Weight</label>
  <input type="text" class="form-control w-25" placeholder="In kg" name="weight" value="{{w}}">
</div>
        <div class="mb-3">
            <button class="btn btn-outline-light">Get Result</button>
</div>
        {% if result%}
 <div>
        <label class="form-label" >Result:</label>
        <input class="form-control w-25" type="text" value="{{result}}" aria-label="Disabled input example" disabled readonly>
        <h4 class="text-center text-light mt-3">{{p}}</h4>
            </div>
{%endif%}
        </form>
</div>

{%endblock%}